## In a parallel universe, Amanda embarks on a journey to find a team of highly skilled software engineers for her startup. Mr. Robot and Silicon Valley were two of Amanda's favorite television series. But in this universe, Elliot Alderson works for the government, and Richard Hendricks does not destroy Pied Piper in the end. A world where a few lines of code could solve problems or create menace. She was intrigued when she got a chance to enroll in her first programming class. Unlike some other girls from her class, she was convinced that this was the path she wanted to take. During college, she completed multiple internships in Machine Learning, enhancing her skills and expertise. After her college, with a mission to build custom software for their clients, she started Amanda Coding LLC. She wants to build a team of highly skilled software engineers. For this, she wants to find teammates who meet all the technical skills as per the job requirement.

In [138]:
import nltk
import pandas as pd
#import sab jagah se sab kuch
import numpy as np
import sklearn
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import re 
from nltk.tokenize import word_tokenize
#from nltk.stem import PorterStemmer

## While researching, she found a raw dataset of over 30k datapoints (Raw_Skills_Dataset.csv) which contain technical skills and a lot of jargon mixed in. Can you help her develop a code that can clean this dataset and extract Technical (Hard) skills?

In [139]:
skill = pd.read_csv(r"C:\Users\rsmat\Downloads\Files\Raw_Skills_Dataset.csv")

In [140]:
skill.head()

          RAW DATA
0         What ifs
1        seniority
2      familiarity
3  functionalities
4          Lambdas

In [141]:
skill.isnull()

       RAW DATA
0         False
1         False
2         False
3         False
4         False
...         ...
34111     False
34112     False
34113     False
34114     False
34115     False

[34116 rows x 1 columns]

In [142]:
skill.isnull().sum()

RAW DATA    0
dtype: int64

In [143]:
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

stop_words = set(stopwords.words('english'))
lemma=WordNetLemmatizer()
ps = PorterStemmer()

def clean_Data(review_text):
    review_text = re.sub(r'http\S+', '', review_text)
    review_text = re.sub('[^a-zA-Z]',' ',review_text)
    #review_text = str(review_text).lower()
    review_text = word_tokenize(review_text)
    #for w in review_text : review_text = ps.stem(w)
    review_text = [item for item in review_text if item not in stop_words]
    review_text = [lemma.lemmatize(word=w,pos='v') for w in review_text]
    review_text = ' '.join(review_text)
    return review_text

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\rsmat\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\rsmat\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\rsmat\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [144]:
skill['CleanData'] = skill['RAW DATA'].apply(clean_Data)

In [145]:
skill.head()

          RAW DATA        CleanData
0         What ifs         What ifs
1        seniority        seniority
2      familiarity      familiarity
3  functionalities  functionalities
4          Lambdas          Lambdas

In [146]:
refer = pd.read_csv(r"C:\Users\rsmat\Downloads\Files\Example_Technical_Skills.csv")

In [147]:
refer.head()

                       Technology Skills
0                    SAP Fiori Developer
1  Oracle Instance Management & Strategy
2           Boomi Master Data Management
3  Digital Manufacturing on Cloud ( DMC)
4                                 DevOps

# In Technology Skills, each skill's first letter of every word (except special symbol) is capital

In [148]:
def is_capital(skill):
    flag = 0
    skills = []
    for kills in skill:
        flag = 0
        for word in kills.split():
            if word[0].islower():
                flag+=1
        if (flag>0):
            skills.append(0)
        else:
            skills.append(1)
    return skills

In [149]:
req = is_capital(skill["RAW DATA"])

In [150]:
req_skill = skill
req_skill["Flag"] = req

In [151]:
req_skill

,RAW DATA,CleanData,Flag
0,What ifs,What ifs,0
1,seniority,seniority,0
2,familiarity,familiarity,0
3,functionalities,functionalities,0
4,Lambdas,Lambdas,1
...,...,...,...
34111,negotiation,negotiation,0
34112,deadlines,deadlines,0
34113,"Self-motivated, enthusiastic and strong drive",Self motivate enthusiastic strong drive,0
34114,negotiation,negotiation,0
34115,deadlines,deadlines,0

In [152]:
refer

                         Technology Skills
0                      SAP Fiori Developer
1    Oracle Instance Management & Strategy
2             Boomi Master Data Management
3    Digital Manufacturing on Cloud ( DMC)
4                                   DevOps
..                                     ...
974        Oracle Cloud Revenue Management
975       Oracle EBS Grid Contral Mgt Pack
976         Amazon Elastic MapReduce (EMR)
977                            Apache Kudu
978                             Oracle ESB

[979 rows x 1 columns]

In [153]:
refer[0:950:25]

                           Technology Skills
0                        SAP Fiori Developer
25                       SAP Introscope Wily
50   MicroStrategy Cert Spclst Admin (MCSAD)
75                                  NetSuite
100     Meditech Laboratory and Microbiology
125                       Oracle EBS Payroll
150     Microsoft - Azure AD Hybrid Identity
175      Inf Entreprise Data Integration EDI
200                    Oracle EBS Interfaces
225              Financial Information Model
250                             Live Meeting
275                        Linux - Kalilinux
300          Finance Data Conversion - iload
325       PeopleSoft Benefits Administration
350                                Maxymiser
375                             Apache Flume
400   Adobe Experience Manager - Communities
425                 Ariba Direct Procurement
450                  Azure Synapse Analytics
475             SAP HANA on Virtual Machines
500             FCCM - Anti-Money Laundering
525          Business Intelligence Reporting
550                DB Performance Management
575                                 Phishing
600                JDE Customer Self Service
625   SAP FI German Tax Reporting (E-Bilanz)
650                   Siebel Dynamic Catalog
675     SAP Smart Business Executive Edition
700                           Siebel Advisor
725     Oracle Cloud Authenticate Service OS
750                            RSA - SecurID
775                 Oracle ERP Cloud Finance
800               SAP Classification (CA-CL)
825                                 Airwatch
850                       SAP Security BI/BW
875      SAP SuccessFactors IT - WebServices
900                                   Cortex
925    Medical device security & privacy reg

In [154]:
req_skill[0:34000:1000]

,RAW DATA,CleanData,Flag
0,What ifs,What ifs,0
1000,GitHub,GitHub,1
2000,configuration,configuration,0
3000,Hyper-V,Hyper V,1
4000,NodeJS,NodeJS,1
5000,No-SQL databases exposure,No SQL databases exposure,0
6000,a Data Orchestration solutions,Data Orchestration solutions,0
7000,fine tuning mechanism,fine tune mechanism,0
8000,QA,QA,1
9000,HTML5,HTML,1
10000,PaaS,PaaS,1
11000,SOPs,SOPs,1
12000,unit test authoring,unit test author,0
13000,conciseness,conciseness,0
14000,A Bachelorâ€™s degree,A Bachelor degree,0
15000,"5,6",,1
16000,CSS3,CSS,1
17000,"Excellent analytical, multitasking, and commu...",Excellent analytical multitasking communicatio...,0
18000,a regular cadence,regular cadence,0
19000,vacuum pumps,vacuum pump,0
20000,preferably AWS,preferably AWS,0
21000,Strong Database admin experience,Strong Database admin experience,0
22000,Python,Python,1
23000,Refactor code,Refactor code,0
24000,product increment planning,product increment plan,0
25000,architects,architects,0
26000,mentor,mentor,0
27000,transcoding,transcoding,0
28000,Test Scenarios,Test Scenarios,1
29000,ReactJS,ReactJS,1
30000,Design configurable platform,Design configurable platform,0
31000,Agile methodologies,Agile methodologies,0
32000,GCS,GCS,1
33000,interfaces,interfaces,0

In [155]:
tech_skill = req_skill[req_skill["Flag"]==1]["CleanData"]

In [156]:
tech_skill

4                             Lambdas
5                        Java Streams
7                Relational Databases
8                                 SQL
9                                 ORM
                     ...
34097    Agile Continuous Integration
34098                            CMIS
34100                            CMIS
34104                            CMIS
34108                        Actalent
Name: CleanData, Length: 12990, dtype: object

In [157]:
len(tech_skill)

12990

# The technical (hard skills) are

In [159]:
tech_skill[0:12990:300]

4                                                  Lambdas
845                                                Proxies
1488                                                   UIs
2471                                                VMware
3522                                                   DNS
4443                                                   CSS
5300                                   Azure DevOps Server
6041                                                Athena
6690                                                   AWS
7549                                                  FSAs
8328                                                   Git
9086                                                   AWS
9964                                                 Azure
10718                                               GitHub
11541                                                 CSRs
12408                                                 CCPA
13281
14095                                               NodeJS
15035                                           Tensorflow
15774                                               APIGEE
16586                                              Cypress
17377                                                 PaaS
18159                                            Terraform
18854                                                NoSQL
19642                                                HBase
20304                                                   DB
20944                                                 JIRA
21738    Dematic Equipment Management System Software A...
22630                                                   PE
23508                                   Gitflow Experience
24353                                               Nodejs
25072                                              Node js
25786                                                   TS
26451                                             ActiveMQ
27235                         Android Multimedia Framework
28006                       Performance Testing Frameworks
28734                                          Familiarity
29646                                                  GIT
30362                                                 HTML
31041                                           Deployment
31775                                   Citrix Virtual App
32335                                                Cubes
33106                                           PowerShell
33875                                           JavaScript
Name: CleanData, dtype: object